@if(student){
    <div>
        <button (click)="openDialog()">delete</button>

        <dialog>
            <span>sicuro???</span><br>
            <button (click)="removeStudent(student.id)">yes</button>
            <button (click)="closeDialog()">no</button>
        </dialog>

        <img [src]="student.imageUrl">
        <h2>{{student.name}}</h2>
    </div>
    <div>
        <span><strong>marks: </strong></span>
        @for (mark of student.marks; track $index) {
            <span>{{mark}} </span>
        }
    </div>
    <form [formGroup]="myForm" (ngSubmit)="addMark()">
        <label for="mark">add mark: </label>
        <input type="number" formControlName="mark" id="mark">
        <button type="submit">add</button>
    </form>
}