<header>
  <mat-toolbar color="primary" class="main-toolbar">
    <span class="app-title">Student Manager</span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-button routerLink="/randomizer" routerLinkActive="active-link">
        <mat-icon>shuffle</mat-icon>
        Randomizer
      </a>
      <a mat-button routerLink="/newStudent" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        Add
      </a>
    </nav>
  </mat-toolbar>

</header>
<main>
  <router-outlet />
</main>
<footer>
  work in progress
</footer>